extends ../layouts/default


block content
	.container
		h2 #{data.product.title}
		h4 #{data.product.price}€
		!= data.product.content.full
		form(method="post")
			input(type="hidden", name="product_slug", value="#{data.product.slug}")
			input(type="number", name="quantity")
			button(type="submit", name="action", value="add-to-cart").btn.btn-primary Add to cart