extends ../layouts/default



block content
	.container
		ul(ng-repeat='product in products')
			li
				h4 {{product.title}}
				p {{product.price}}
				ngcart-addtocart(id="{{product.slug}}" name="{{product.title}}" price="{{product.price}}" quantity="1" quantity-max="5" size="product.sizes") Add to Cart
				//- | {{product.title}}
				//- a(ng-click="addToCart(product.slug, 1, size)").btn.btn-sm.btn-primary Add to cart
				//- select(name="sizes" ng-model="size" ng-options="v for v in product.sizes" required)
				//- 	option(value="" selected hidden)
		ngcart-cart